*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.section{
    margin: 10px;
}

.heading{
    text-align: center;
    padding: 30px;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.card{
    width:14%;
    overflow: hidden;
}

.card img{
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 10px;
}

.title{
    text-align: center;
    padding-top: 10px;
}

@media (min-width: 640px) {
    .heading h1 {
        font-size: 1.8rem;
    }
    .cards {
        gap: 25px;
    }
    .card {
        width: 30%;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
    }
    .title {
        font-size: 0.9rem;
    }
}

/* Desktop Responsiveness (Min-width 1024px): 6 items per row */
@media (min-width: 1024px) {
    .cards {
        gap: 30px;
        padding: 0 40px;
    }
    /* Set width for 6 columns */
    .card {
        width: calc((100% - 5 * 30px) / 6); 
    }
    .title {
        font-size: 1rem;
    }
}